---
    const {name} = Astro.props;

    
---
<html>
    <header>
    
    </header>

    <body>

         <button class='py-3 px-5 border-0 bg-blue-700 text-white rounded'> {name} </button>

    </body>
</html>