---
    import Btn from './btn.astro'
    import {Icon} from 'astro-icon'
---

<html>
    <head>
        <style >
            header {
                
                /* position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 999; */
                padding: 1em 9%;
                font-family: Euclid;
                font-weight: bold;
            }

            header ul {
                  display: inline-flex;
            }
            header ul li {
                margin-left: 2em;
              
            }

        

            /* for small devices  */

            @media only screen and (max-width:670px) {
               
                header {
                    padding: 1em 2em;
                }

            }
        </style>
    </head>
    
    <body>

        <header class="flex justify-between  ">

            <div className="logo">
                <img src="../../public/assets/logo/logo.svg" alt="">
            </div>

            <div class="nav ">
                <ul class="inline-flex">
                    <li> <Icon name="bi:moon-fill" width="20" class="cursor-pointer"/></li>
                    <li class="mr-4">Join</li>
                    <li>
                        <Btn name="Join community" />
                    </li>
                </ul>
            </div>

        </header>

    </body>
</html>