---

---

<html>

    <header>

        <style>
        
            .hero {
                position: relative;
                
            }

            .hero h3 {
                width: 527px;
                height: 204px;
                left: 137px;
                top: 361px;
                
                font-family: Recoleta;
                font-style: normal;
                font-weight: bold;
                font-size: 75px;
                line-height: 102px;

            }

            .hero {
                margin-top:5em;
            }

            /* for mobile screen */

            @media screen and (max-width:670px) {
                .hero h3 {
                    font-size: 3em;
                     text-align: center;
                }

                hero {
                    display: none;
                   
                }

            }
        </style>    

    </header>
    <body>

        <section class="hero container flex justify-between ">

           

                 <div class="details">

                    <h3>
                        Lookup Awesome NFTs
                    </h3>
                    <p>from OpenSea Api</p>


                  </div>

                   <div class="nft-img">
                   
                         <img src="../../public/assets/images/hero-monkey.svg" alt="svg">
                   </div>
                  
        </section>



    </body>


</html>