---
    import Header from '../../components/header.astro'
    import Hero from '../../components/hero.astro'
    import Content from '../../components/content.astro'
---
<html>
    <header>
        <title> Homepage </title>
    </header>
    <body>
        <!--header part-->
        <Header/>
        <Hero/>
        <Content/>

    </body>

</html>